In [9]:
import pandas as pd
import feather
import re

In [3]:
df = feather.read_dataframe(r'F:\Projects\Pfizer_mCRPC\Data\Raw_data\02_total_with_datediff.feather')

In [58]:
df.head()

,patient_id,pn_flag,age_index,age_pc,c00142_claim_cnt,c00142_flag,c00142_index_max_dd,c00142_index_min_dd,c00142_max_min_dd,c00740_claim_cnt,...,s62_claim_cnt,s62_flag,s62_index_max_dd,s62_index_min_dd,s62_max_min_dd,s63_claim_cnt,s63_flag,s63_index_max_dd,s63_index_min_dd,s63_max_min_dd
0,377317624,0,85,85,0,0,NaN,NaN,NaN,0,...,0,0,NaN,NaN,NaN,0,0,NaN,NaN,NaN
1,73066609,0,80,78,0,0,NaN,NaN,NaN,0,...,0,0,NaN,NaN,NaN,0,0,NaN,NaN,NaN
2,70175556,0,50,50,0,0,NaN,NaN,NaN,0,...,0,0,NaN,NaN,NaN,0,0,NaN,NaN,NaN
3,713474282,0,83,81,0,0,NaN,NaN,NaN,0,...,1,1,66.0,66.0,0.0,2,1,48.0,72.0,24.0
4,1563563420,0,70,64,0,0,NaN,NaN,NaN,0,...,0,0,NaN,NaN,NaN,0,0,NaN,NaN,NaN

In [48]:
df_raw = pd.read_csv(r'F:\Projects\Pfizer_mCRPC\Data\Raw_data\01_total.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (8,9,20,21,24,25,28,29,40,41,44,45,48,49,64,65,76,77,80,81,92,93,100,101,108,109,120,121,124,125,128,129,136,137,164,165,184,185,188,189,192,193,200,201,204,205,220,221,236,237,252,253,256,257,272,273,276,277,284,285,304,305,308,309,316,317,324,325,328,329,332,333,340,341,348,349,352,353,368,369,388,389,396,397,404,405,452,453,460,461,468,469,492,493,524,525,532,533,536,537,540,541,544,545,548,549,556,557,592,593,600,601,628,629,640,641,652,653,664,665,668,669,672,673,680,681,712,713,716,717,720,721,748,749,752,753,768,769,792,793,800,801,816,817,820,821,824,825,828,829,844,845,852,853,896,897,912,913,920,921,940,941,944,945,948,949,956,957,964,965,988,989,1000,1001,1012,1013,1028,1029,1040,1041,1060,1061,1064,1065,1068,1069,1076,1077,1080,1081,1084,1085,1128,1129,1180,1181,1204,1205,1208,1209,1212,1213,1244,1245,1260,1261,1280,1281,1284,1285,1304,1305,1312,1313,1344,1345,1408,1409,1412,1413,1416,1417,1420,1421,1444,1445,1468,1469,1480,1481,1488,1489,1492,1493,1496,1497,1504,1505,1508,1509,1512,1513,1524,1525,1528,1529,1536,1537,1544,1545,1552,1553,1568,1569,1596,1597,1600,1601,1608,1609,1620,1621,1632,1633,1644,1645,1652,1653,1660,1661,1708,1709,1712,1713,1720,1721,1724,1725,1732,1733,1748,1749,1768,1769,1776,1777,1780,1781,1788,1789,1796,1797,1804,1805,1828,1829,1832,1833,1836,1837,1844,1845,1848,1849,1852,1853,1868,1869,1872,1873,1876,1877,1884,1885,1896,1897,1932,1933,1940,1941,1960,1961,1964,1965,1988,1989,1996,1997,2000,2001,2004,2005,2012,2013,2048,2049,2064,2065,2076,2077,2096,2097,2108,2109,2136,2137,2176,2177,2180,2181,2188,2189,2192,2193,2200,2201,2220,2221,2236,2237,2252,2253,2268,2269,2284,2285,2288,2289,2296,2297,2320,2321,2360,2361,2384,2385,2408,2409,2452,2453,2468,2469,2476,2477,2512,2513,2516,2517,2540,2541,2560,2561,2564,2565,2584,2585,2604,2605,2628,2629,2640,2641,2652,2653,2664,2665,2688,2689,2708,2709,2716,2717,2732,2733,2772,2773,2788,2789,2792,2793,2796,2797,2804,2805,2824,2825,2828,2829,2844,2845,2852,2853,2856,2857,2868,2869,2888,2889,2896,2897,2920,2921,2928,2929,2944,2945,2948,2949,2960,2961,2976,2977,2980,2981,2984,2985,2988,2989,2992,2993,2996,2997,3000,3001,3004,3005,3028,3029,3036,3037,3056,3057,3064,3065,3068,3069,3080,3081,3084,3085,3088,3089,3096,3097,3100,3101,3104,3105,3108,3109,3128,3129,3140,3141,3152,3153,3164,3165,3176,3177,3184,3185,3192,3193,3224,3225,3228,3229,3232,3233,3240,3241,3244,3245,3256,3257,3272,3273,3284,3285,3296,3297,3316,3317,3364,3365,3420,3421,3428,3429,3440,3441,3452,3453,3456,3457,3460,3461,3468,3469,3512,3513) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [53]:
df_raw['INDEX_DATE'] = pd.to_datetime(df_raw['INDEX_DATE'], format='%m/%d/%Y')
df_raw['LOOKBACK_DATE'] = pd.to_datetime(df_raw['LOOKBACK_DATE'], format='%m/%d/%Y')

In [7]:
list_colnames = df.columns.tolist()

In [46]:
# Slightly higher claims per year for positive group
suffix = '_claim_cnt$'
colnames_claim_cnt = [colname for colname in list_colnames if re.search(suffix, colname)]

df_claim_cnt = df[['pn_flag'] + colnames_claim_cnt]

df_sum = pd.DataFrame({'sum':df_claim_cnt[colnames_claim_cnt].sum(axis=1)})
df_sum['pn_flag'] = df_claim_cnt['pn_flag']

df_avg_counts_per_year = df_sum.groupby('pn_flag').mean()/2

df_avg_counts_per_year

                sum
pn_flag
0        115.124755
1        125.507727

In [45]:
# BUT also slightly longer average datewindow, so result of how data is cut off?
suffix = '_max_min_dd$'
colnames_max_min_dd = [colname for colname in list_colnames if re.search(suffix, colname)]

df_max_min_dd = df[['pn_flag'] + colnames_max_min_dd]

df_sum = pd.DataFrame({'avg':df_max_min_dd[colnames_max_min_dd].mean(axis=1)})
df_sum['pn_flag'] = df_max_min_dd['pn_flag']

df_avg_counts_per_year = df_sum.groupby('pn_flag').mean()

df_avg_counts_per_year

                avg
pn_flag
0        125.892025
1        150.678116