In [1]:
import pandas as pd
import re
import sys

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
sys.path.append('F:\Frederik\pfizer_mcrpc\paqc')

In [4]:
df_onc = pd.read_csv(r'F:\Projects\Pfizer_mCRPC\Data\Raw_data\Pfizer_mCRPC_ONCEMR.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (15,16,17,18,70,146,148,150,152,154,156,158,160,162,164,166) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df_onc.tail()

,PATIENT_ID,LOOKBACK_DATE,INDEX_DATE,ONC_LATEST_STAGE,ONC_LATEST_STAGE_DATE,MET_DATE1,METAC_SITE_NM1,MET_DATE2,METAC_SITE_NM2,MET_DATE3,...,ONC_TNM_DATE,ONC_LATEST_T,ONC_LATEST_T_DATE,ONC_LATEST_N,ONC_LATEST_N_DATE,ONC_LATEST_M,ONC_LATEST_M_DATE,ONC_LATEST_GLEASON,ONC_LATEST_GLEASON_DATE,PN_FLAG
5247,1711385250,2015-06-30,2017-06-29,NaN,NaN,2017-06-29,BONE & CONNECTIVE TISSUE CANCER,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
5248,986817551,2012-07-21,2014-07-21,NaN,NaN,2014-07-21,BONE & CONNECTIVE TISSUE CANCER,2014-08-05,LIVER CANCER,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
5249,634119757,2014-05-06,2016-05-05,NaN,NaN,2016-05-05,BONE & CONNECTIVE TISSUE CANCER,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
5250,1627395905,2013-07-23,2015-07-23,Stage IV,2012-01-01,2015-07-23,OTHER CANCER,2016-10-06,BONE & CONNECTIVE TISSUE CANCER,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
5251,781994092,2013-08-24,2015-08-24,NaN,NaN,2015-08-24,BONE & CONNECTIVE TISSUE CANCER,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [6]:
# Function to clean up newly created column names in the dummies

def clean_string(s):
    """
    Function that cleans up string, typically used for column names. Changes
    the incoming string s so that:
        - only lowercase
        - white spaces replaced by underscores
        - brackets replaced by underscores
        - multiple underscores in a row replaced by one
          underscore (e.g. ' (' -> '__' -> '_'
    :param s: string
    :return: new string
    """
    # only lowercase
    s = s.lower()
    # whites spaces, brackets, &, ;, , replaced by underscores
    s = re.sub(r'( )|(\()|(\))|(;)|(,)|(&)|(:)', '_', s)
    # multiple underscores in a row replaced by one underscore
    s = re.sub(r'(_)\1+', r'\1', s)
    # trailing underscores are removed
    s = re.sub(r'[_]+$', '', s)
    return s

### Remove columns of later metastatic dates and sites

In [7]:
ls_metac_colnames = ['MET_DATE2', 'METAC_SITE_NM2', 'MET_DATE3', 'METAC_SITE_NM3', 'MET_DATE4', 'METAC_SITE_NM4', 'MET_DATE5',
                     'METAC_SITE_NM5', 'MET_DATE6', 'METAC_SITE_NM6', 'MET_DATE7', 'METAC_SITE_NM7']

In [8]:
df_onc_no_metac = df_onc.drop(columns=ls_metac_colnames)

In [9]:
df_onc_no_metac.head()

,PATIENT_ID,LOOKBACK_DATE,INDEX_DATE,ONC_LATEST_STAGE,ONC_LATEST_STAGE_DATE,MET_DATE1,METAC_SITE_NM1,ONC_PSA1,ONC_PSA_DATE1,ONC_PSA2,...,ONC_TNM_DATE,ONC_LATEST_T,ONC_LATEST_T_DATE,ONC_LATEST_N,ONC_LATEST_N_DATE,ONC_LATEST_M,ONC_LATEST_M_DATE,ONC_LATEST_GLEASON,ONC_LATEST_GLEASON_DATE,PN_FLAG
0,1563563420,2012-05-14,2014-05-14,Stage IV,2006-11-01,2014-05-14,BONE & CONNECTIVE TISSUE CANCER,15.6,2014-05-14,55.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1364456765,2015-04-02,2017-04-01,NaN,NaN,2017-04-01,LUNG CANCER,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,523105747,2014-09-17,2016-09-16,Stage IV,2012-10-29,2016-09-16,LUNG CANCER,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,1151578636,2014-10-04,2016-10-03,Stage IV,2016-10-06,2016-10-03,BONE & CONNECTIVE TISSUE CANCER,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,1427814564,2012-03-27,2014-03-27,NaN,NaN,2014-03-27,BONE & CONNECTIVE TISSUE CANCER,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

## Make dummy variables

### METAC_SITE_NM1

In [10]:
# METAC_SITE_NM1 is a categorical column we want to keep
df_dummies = pd.get_dummies(df_onc_no_metac['METAC_SITE_NM1'], prefix = 'METAC_SITE')
df_dummies.head()

,METAC_SITE_BLADDER CANCER,METAC_SITE_BONE & CONNECTIVE TISSUE CANCER,METAC_SITE_BRAIN & NERVOUS SYSTEM CANCER,METAC_SITE_BREAST CANCER,METAC_SITE_COLORECTAL CANCER (CRC),METAC_SITE_HEAD & NECK CANCER,METAC_SITE_KIDNEY CANCER,METAC_SITE_LIVER CANCER,METAC_SITE_LUNG CANCER,METAC_SITE_OTHER CANCER,METAC_SITE_SKIN CANCER
0,0,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,1,0,0
3,0,1,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,0

In [11]:
# Clean up column names
dummy_colnames = [clean_string(colname) for colname in df_dummies.columns]
df_dummies.columns = dummy_colnames
df_dummies.head()

,metac_site_bladder_cancer,metac_site_bone_connective_tissue_cancer,metac_site_brain_nervous_system_cancer,metac_site_breast_cancer,metac_site_colorectal_cancer_crc,metac_site_head_neck_cancer,metac_site_kidney_cancer,metac_site_liver_cancer,metac_site_lung_cancer,metac_site_other_cancer,metac_site_skin_cancer
0,0,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,1,0,0
3,0,1,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,0

In [12]:
df_onc_no_metac = df_onc_no_metac.drop(columns = ['METAC_SITE_NM1', 'MET_DATE1'])

In [13]:
df_onc_no_metac.head()

,PATIENT_ID,LOOKBACK_DATE,INDEX_DATE,ONC_LATEST_STAGE,ONC_LATEST_STAGE_DATE,ONC_PSA1,ONC_PSA_DATE1,ONC_PSA2,ONC_PSA_DATE2,ONC_PSA3,...,ONC_TNM_DATE,ONC_LATEST_T,ONC_LATEST_T_DATE,ONC_LATEST_N,ONC_LATEST_N_DATE,ONC_LATEST_M,ONC_LATEST_M_DATE,ONC_LATEST_GLEASON,ONC_LATEST_GLEASON_DATE,PN_FLAG
0,1563563420,2012-05-14,2014-05-14,Stage IV,2006-11-01,15.6,2014-05-14,55.2,2014-02-19,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1364456765,2015-04-02,2017-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,523105747,2014-09-17,2016-09-16,Stage IV,2012-10-29,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,1151578636,2014-10-04,2016-10-03,Stage IV,2016-10-06,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,1427814564,2012-03-27,2014-03-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [14]:
df_with_metac1 = pd.concat([df_onc_no_metac, df_dummies], axis=1)

### ONC_LATEST_STAGE

In [15]:
df_oncstage_dummies = pd.get_dummies(df_with_metac1['ONC_LATEST_STAGE'])

In [17]:
clean_colnames = [clean_string(colname) for colname in df_oncstage_dummies.columns]
df_oncstage_dummies.columns = clean_colnames

In [18]:
df_with_metac_with_onc = pd.concat([df_with_metac1, df_oncstage_dummies], axis=1)

In [19]:
df_with_metac_with_onc = df_with_metac_with_onc.drop(columns = ['ONC_LATEST_STAGE'])
df_with_metac_with_onc.head()

,PATIENT_ID,LOOKBACK_DATE,INDEX_DATE,ONC_LATEST_STAGE_DATE,ONC_PSA1,ONC_PSA_DATE1,ONC_PSA2,ONC_PSA_DATE2,ONC_PSA3,ONC_PSA_DATE3,...,metac_site_head_neck_cancer,metac_site_kidney_cancer,metac_site_liver_cancer,metac_site_lung_cancer,metac_site_other_cancer,metac_site_skin_cancer,stage_i,stage_ii,stage_iii,stage_iv
0,1563563420,2012-05-14,2014-05-14,2006-11-01,15.6,2014-05-14,55.2,2014-02-19,NaN,NaN,...,0,0,0,0,0,0,0,0,0,1
1,1364456765,2015-04-02,2017-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,0,0,0
2,523105747,2014-09-17,2016-09-16,2012-10-29,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,0,0,1
3,1151578636,2014-10-04,2016-10-03,2016-10-06,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,1
4,1427814564,2012-03-27,2014-03-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

### Look for other categorical columns

In [20]:
# Four more columns should be dummified
ls_not_numeric = [not pd.api.types.is_numeric_dtype(dtype) for dtype in df_with_metac_with_onc.dtypes]
prog = re.compile('DATE[0-9]*$')
ls_not_date = [not bool(prog.search(colname)) for colname in df_with_metac_with_onc.columns]
ls_both = [num and date for num, date in zip(ls_not_numeric, ls_not_date)]
df_with_metac_with_onc.loc[:,ls_both].nunique()

ONC_HISTOLOGY     8
ONC_LATEST_T     19
ONC_LATEST_N     14
ONC_LATEST_M      5
dtype: int64

In [21]:
ls_other_columns = df_with_metac_with_onc.loc[:, ls_both].columns

In [22]:
df_other_dummies = pd.get_dummies(df_with_metac_with_onc[ls_other_columns])
dummy_colnames = df_other_dummies.columns
dummy_colnames = [clean_string(colname) for colname in dummy_colnames]
df_other_dummies.columns = dummy_colnames

In [23]:
df = df_with_metac_with_onc.drop(columns = ls_other_columns)
df_total = pd.concat([df, df_other_dummies], axis = 1)

In [29]:
all_colnames = [clean_string(colname) for colname in df_total.columns]
df_total.columns = all_colnames
df_total.head()

,patient_id,lookback_date,index_date,onc_latest_stage_date,onc_psa1,onc_psa_date1,onc_psa2,onc_psa_date2,onc_psa3,onc_psa_date3,...,onc_latest_n_n2a,onc_latest_n_n2b,onc_latest_n_n2c,onc_latest_n_n3,onc_latest_n_n3a,onc_latest_m_m0,onc_latest_m_m1,onc_latest_m_m1a,onc_latest_m_m1b,onc_latest_m_m1c
0,1563563420,2012-05-14,2014-05-14,2006-11-01,15.6,2014-05-14,55.2,2014-02-19,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1,1364456765,2015-04-02,2017-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,523105747,2014-09-17,2016-09-16,2012-10-29,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3,1151578636,2014-10-04,2016-10-03,2016-10-06,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
4,1427814564,2012-03-27,2014-03-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

# Save file

In [42]:
ls_columns_reordered = df_total.columns.tolist()
ls_columns_reordered.remove('pn_flag')
ls_columns_reordered = [ls_columns_reordered[0]] + ['pn_flag'] + ls_columns_reordered[1:]

In [44]:
df_total = df_total[ls_columns_reordered]

In [45]:
df_total.head()

,patient_id,pn_flag,lookback_date,index_date,onc_latest_stage_date,onc_psa1,onc_psa_date1,onc_psa2,onc_psa_date2,onc_psa3,...,onc_latest_n_n2a,onc_latest_n_n2b,onc_latest_n_n2c,onc_latest_n_n3,onc_latest_n_n3a,onc_latest_m_m0,onc_latest_m_m1,onc_latest_m_m1a,onc_latest_m_m1b,onc_latest_m_m1c
0,1563563420,0,2012-05-14,2014-05-14,2006-11-01,15.6,2014-05-14,55.2,2014-02-19,NaN,...,0,0,0,0,0,0,0,0,0,0
1,1364456765,0,2015-04-02,2017-04-01,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,523105747,0,2014-09-17,2016-09-16,2012-10-29,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3,1151578636,0,2014-10-04,2016-10-03,2016-10-06,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
4,1427814564,0,2012-03-27,2014-03-27,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [47]:
df_total.to_feather(r'F:\Projects\Pfizer_mCRPC\Data\Raw_data\Oncology_EMR\Oncology_EMR_cleaned_with_dummies.feather')
df_total.to_csv(r'F:\Projects\Pfizer_mCRPC\Data\Raw_data\Oncology_EMR\Oncology_EMR_cleaned_with_dummies.csv', index=False)